@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url("../img/fondo.png");
    height: auto;
    width: auto;
    left: 0;
    top: 0;
    background-position: center center;
    background-size: cover;
    /*font-family: 'Poppins', sans-serif;*/
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    color: aliceblue;
    min-height: 100vh;
}

nav{
    background: rgba(27, 38, 49, 0.8) ;
    height: 80px;
    width: 100%;
    color: transparent;    
}

.escuela{
    text-align: 70px;
    font-size: 35px;
    color: aliceblue;
    margin-left: 3%;
    margin-top: 50px;

}
.redondeo{
    font-size: 55px;
    border: 5px solid;
    border-color: aliceblue;
    height: 90px;
    width: 900px;
    margin-left: 20%;
    background-color:transparent;
    text-align:center;
    padding-top: 0px;
    word-wrap:break-word;
    border-radius: 60px;
}
.redondeo1{
/*    font-size: 55px;*/
    border: 1px solid;
    border-color: aliceblue;
    height: 40px;
    width: 225px;
    margin-left: 5%;
    background-color:transparent;
    text-align:left;
    padding-top: 5px;
    
    border-radius: 40px;
}
#sidemenu{
    width: 20%;
}

.enlace{
    padding: 20px 50px;
}

.logo{
    height: 80px;
    float: right;

}

.usuario{
    height: 17vh;
    float: center;
    margin-left: 25%;
}

.name{
    margin-left: 20%;
}

.iconos{
    height: 5vh;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    /*display: inline-block;*/
    line-height: 80px;
    margin: 0 5px;
    display: block;
    margin: 7px;
    line-height: 30px;
}

nav ul li a{
    color: #fff;
/*    font-size: 18px;*/
    font-size: 20px;
    /*padding: 7px 13px;*/
/*    border-radius: 3px;*/
}

ul{
    position: absolute;
    width: 30%;
    height: 100%;
    background: rgba(27, 38, 49, 0.8);
    top: 80px;
    left: -100%;
    text-align: left;
    transition: all .5s;    
}

li a.active, li a:hover{
    background: #000090;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: left;
    line-height: 80px;
    margin-left: 40px;
    cursor: pointer;
    display: block;
   /* display: none;*/
}

#check{
    display: none;
}

#check:checked ~ ul{
    left:0;
}

li a:hover, li a.active{
    background: none;
    color: rgb(161, 139, 139);
}

/*@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}*/

/*@media (max-width: 5000px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 30%;
        height: 100vh;
        background: rgba(27, 38, 49, 0.8);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: rgb(161, 139, 139);
    }
    #check:checked ~ ul{
        left:0;
    }
}*/

.title{
    text-align: center;
    font-size: 45px;
    margin-top: 50px;
}
p{
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}




