@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --cyan: hsl( 199, 92%, 85% );
    --text-light-blue: hsl( 205, 87%, 94%);
    --text-light-gray: hsl(0, 0%, 90%);
    --glass-bg-color: hsl(200, 54%, 12%);
    --border-color: hsla(0, 0%, 100%, 0.25);
    --blur: blur(35px);
    --button-over-color: hsla(0, 0%, 0%, 0.3);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../img/fondo.png");
    height: auto;
    width: auto;
    left: 0;
    top: 0;
    background-position: center center;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    color: aliceblue;
    min-height: 100vh;
}

a{
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
}

.gradient-text{
    background: linear-gradient(to right,hsl(204,70%,63%), hsl(168,76%,42%) );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.form-main{
    min-height: 100vh;
    padding: 60px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-content{
    width: 100%;
    max-width: 450px;
    position: relative;
    z-index: 1;
}

.form-content .box{
    border-color: var(--glass-bg-color);
    border: 1px solid var(--border-color);
    padding: 40px 50px;
    border-radius: 20px;
    backdrop-filter: var(--blur);
}

.form-content h3{
    font-size: 28px;
    text-align: center;
    line-height: 1.2;
    color: hsl(0, 0%, 100%);
    font-weight: 500;
}

.form-content form{
    margin: 25px 0 20px;
}

.form-content .input-box{
    margin: 25px;
}
.form-content ::placeholder{
    color: hsl(184,6%,81%);
    opacity: 1;
}

.form-content .input-control{
    display: block;
    height: 45px;
    width: 100%;
    background-color: transparent;
    border: var(--text-light-gray);
    border-bottom: 1px solid var(--border-color);
    color: inherit;
    font-weight: inherit;
    font-family: inherit;
    font-size: 16px;
}
.form-content .input-control:focus{
    outline: none;
}
.form-content .input-link{
    margin-top: 10px;
    text-align: right;
}
.form-content .btn{
    height: 45px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    cursor: pointer;
    border-radius: 25px;
    user-select: none;
    background: var(--cyan);
    border: none;
    color:rgb(0, 0, 0);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.form-content .btn::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: background-color 0.5s ease;
    z-index: -1;
}
.form-content .btn:hover::before{
    background-color: var(--button-over-color);
}

.form-content p{
    text-align: center;
    color: hsl(184, 6%, 81%);
}

@media(max-width: 575px){
    body::after,
    body::before{
        height: 250px;
        width: 250px;
        filter: blur(100px);
    }
    .form-content .box{
        padding: 30px;

    }
    .form-content h3{
        font-size: 24px;
    }
}